<div>
    <h1>CODER Chat</h1>
    <h2>Ejemplo de cliente Socket.IO</h2>
    <div class="app">
        
    </div>
    <form method="post">
        <input type="text" id="text-chat" name="text-chat">
        <button id="btn-chat" type="submit">Enviar</button>
    </form>
</div>



{{!-- Esta ruta solo es valida al servir la plantilla con handlebars --}}
<script src="/socket.io/socket.io.js"></script>

<script src="/static/js/sockets.chat.js"></script>